{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <!--Welcome message-->
    
    <div class= "container" align= "center">
        <h1>Hello I am Alberto Lewis!</h1>
        <br />
        <br />

        <p>I am a full-stack developer with a passion for technology and design. 
            I have a strong background in Python, JavaScript, and HTML, and I have experience 
            working with various frameworks and libraries such as Django, Flask, React, and Angular.</p>
    </div>
    <!--Descriptions of myself-->
    

{% endblock %}